:root {
  --teagreen: #dde5b6;
  --jasper: #c84630;
  --indigodye: #004466;
  --oswald: "Oswald", sans-serif;
  --lora: "Lora", serif;
  --hindmadurai: "Hind Madurai", sans-serif;
}

body {
  background-color: var(--indigodye);
  font-family: var(--oswald);
  font-size: 1.5rem;
  font-optical-sizing: auto;
  color: var(--teagreen);
  margin: 0;
}

a {
  color: var(--teagreen);
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "hr1"
    "header"
    "hr2"
    "main"
    "hr3"
    "footer";

  grid-template-rows: 0.15fr 2px .85fr 2px 1fr 2px 0.5fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
  align-items: center;
}

nav {
  grid-area: nav;
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-content: center;

  display: grid;
  grid-template-areas: "icon menu";
}

header {
  grid-area: header;

  display: grid;
  grid-template-areas: "summary image";
  align-items: center;
  justify-content: space-evenly;
}

main {
  grid-area: main;
}

#hr1 {
  grid-area: hr1;
}

#hr2 {
  grid-area: hr2;
}

#hr3 {
  grid-area: hr3;
}

footer {
  grid-area: footer;
}

.summary {
  grid-area: summary;
  max-width: 750px;
}

.summary .name span {
  font-size: 7rem;
  font-family: var(--oswald);
  display: block;
}

.summary h2 {
  font-size: 2rem;
  font-family: var(--lora);
}

#intro p {
  font-family: var(--hindmadurai);
}

#intro img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  grid-area: image;
}

#about-me {
  grid-area: about;
}

#about-me h3 {
  font-family: var(--lora);
}

#about-me li {
  padding: 1rem;
  font-family: var(--hindmadurai);
}

#contact p {
  font-family: var(--hindmadurai);
}

#contact button {
  margin-top: 2rem;
}

.menu {
  display: none;
  cursor: pointer;
  color: var(--teagreen);
  background-color: var(--indigodye);
}

#menu-close-button {
  background: none;
}

.navlist {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: end;
  grid-gap: 6rem;
}

.nav-item {
  font-size: 1.5rem;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: var(--jasper);
}

.close {
  cursor: pointer;
  display: none;
  grid-area: menu;
}

.close .line {
  stroke: var(--teagreen);
  stroke-width: 2;
  stroke-linecap: round;
  transition: stroke 0.3s ease;
}

.close:hover .line {
  stroke: var(--jasper);
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.brand-icon svg {
  width: 48px;
  height: 48px;
  fill: var(--teagreen);
  transition: fill 0.3s ease;
}

.brand-icon svg:hover {
  fill: var(--jasper);
}

.brand-icon {
  display: flex;
  align-items: center;
  justify-self: center;
}

.hidden-h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.gradient-line {
  width: 100%;
  border: none;
  height: 2px;
  background: linear-gradient(90deg, var(--jasper) 0%, var(--teagreen) 35%);
}

/* Optional: Responsive design */

@media (max-width: 1200px) {
  #intro img {
    display: none;
  }

  .grid-container {
    grid-template-rows: .25fr 2px .75fr 2px .75fr 2px .25fr;
  }
}

@media (max-width: 850px) {
  .body--no-scroll {
    overflow: hidden;
  }

  .grid-container {
    grid-template-rows: 0.125fr 2px .55fr 2px .75fr 2px 0.25fr;
    margin: 0 auto;
    padding: 0 3rem;
    align-items: center;
  }

  nav {
    /* gap: 20rem; */
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .navlist {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 8rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    background-color: var(--indigodye);
    color: var(--teagreen);
    height: 100vh;
    width: 100%;
    left: -100%;
    transition: left 0.3s ease;
    gap: 0;
  }

  .navlist--visible {
    border-right: 1px dotted var(--teagreen);
    left: 0;
  }

  .nav-item {
    font-size: 3rem;
  }

  .menu {
    display: block;
    grid-area: menu;
  }

  .menu .line {
    fill: var(--teagreen);
    transition: fill 0.3s ease;
  }

  .menu:hover .line {
    fill: var(--jasper);
  }

  .menu--hide {
    display: none;
  }

  header {
    grid-column: 1 / -1;

    display: grid;
  }

  header nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60px 1fr 60px;
    grid-template-areas: "icon nav-list menu";
  }

  .brand-icon {
    grid-area: icon;
  }

  .close--visible {
    display: block;
    grid-area: menu;
  }

  section {
    margin: 2rem;
    padding: 0;
  }

  .summary .name span {
    font-size: 5rem;
  }

  .summary h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}
